<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inscrição enviada</title>
    {% include 'includes/bootstrap.html' %}
</head>
<body>

    {% include "includes/navbar.html" %}
    {% include "includes/banner.html" %}

    <div class="container">
        <h3 class="text-center mt-3 mb-0">Inscrição confirmada para a vaga de <b>"{{job.title}}"</b> </h3>
            <p class="text-center mb-3">v{{job.id}}</p>

        <h5 class="mb-0">{{ application.full_name.label.text}}</h5>
        <div class="lead mb-4">{{ application.full_name.data }}</div>

        <h5 class="mb-0">{{ application.email.label.text}}</h5>
        <div class="lead mb-4">{{ application.email.data }}</div>

        <h5 class="mb-0">{{ application.linkedin.label.text}}</h5>
        <div class="lead mb-4">{{ application.linkedin.data }}</div>

        <h5 class="mb-0">{{ application.github.label.text}}</h5>
        <div class="lead mb-4">{{ application.github.data }}</div>

        <h5 class="mb-0">{{ application.resume.label.text}}</h5>
        <div class="lead mb-4">{{ application.resume.data.filename }}</div>

        <h5 class="mb-0">{{ application.comments.label.text}}</h5>
        <div class="lead mb-4">{{ application.comments.data }}</div>

        <h5 class="mb-0">Inscrição realizada em</h5>
        <div class="lead mb-4">{{ date.strftime("%d/%m/%Y às %H:%M") }}</div>

    </div>
</body>
</html>