<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{vaga.title}} - Carreiras Python</title>
    {% include 'includes/bootstrap.html' %}
</head>
<body>
    {% include "includes/navbar.html" %}
    {% include "includes/banner.html" %}
    <div class="container">
    <h1 class="text-center mt-3 mb-0">Detalhes da Vaga</h1>
        <p class="text-center mb-5"><i>v{{vaga.id}}</i></p>
        <h2 class="mb-5">{{vaga.title}}</h2>
        <h3>Responsabilidades</h3>
        <ul class="lead mb-5">
            {% for line in vaga.responsabilities.split(".") %}
            <li>{{line}}</li>
            {% endfor %}
        </ul>
        <h3>Requisitos</h3>
        <ul class="lead mb-5">
            {% for line in vaga.requirements.split(".") %}
            <li>{{line}}</li>
            {% endfor %}
        </ul>
        <h3>Localidade</h3>
        <p class="lead mb-5">{{vaga.location}}</p>
        <h3>Salário</h3>
        <p class="lead mb-5">{{vaga.currency}} {{vaga.salary}}</p>

        <div class="text-center">
            <a href="{{ url_for('fazer_inscricao', id=vaga.id) }}" type="button" class="btn btn-primary mb-4">Inscrever-se</a>
            <a href="/#vagas_abertas" type="button" class="btn btn-outline-primary mb-4">Voltar</a>
        </div>

    </div>
    {% include "includes/footer.html" %}
</body>
</html>