<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Minhas inscrições - Carreiras Python</title>
        {% include 'includes/bootstrap.html' %}
    </head>
    <body>
        {% include "includes/navbar.html" %}
        {% include "includes/banner.html" %}
        <div class="container">
            <h3 class="text-center mt-3 mb-5">Inscrições de <b>{{applications[0].full_name}}</b> </h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center col-3" scope="col">Vaga Nº</th>
                  <th class="col-5" scope="col">Título da Vaga</th>
                  <th class="col-4" scope="col">Data de Inscrição</th>
                </tr>
              </thead>
              <tbody>
                {% for application in applications %}
                    {% include 'includes/application_item.html' %}
                {% endfor %}
              </tbody>
            </table>


        </div>
    </body>
</html>