<div class="row mb-4">
    <div class="col-2">

    </div>
    <div class="col-6">
        <h4 style="color: rgb(100,100,100); margin-top: 4px; margin-bottom: 2px;">
        {{job.title}}
        </h4>
        <div>
            <strong>Localidade: </strong>
            {{job.location}}
        </div>
        <div>
            <strong>Salário:</strong>
            {% if job.salary == None or job.salary == "0" %}
                Não informado
            {% else %}
                {{job.currency}} {{job.salary}}
            {% endif %}
        </div>
        {% if button_name == "Excluir" %}
            <div>
                <strong>Referência: </strong>
                {{job.id}}
            </div>
        {% endif %}
    </div>
    <div class="col-4 mt-4">
        {% if button_name == "Detalhes" %}
            <a href="/vaga/{{job.id}}" type="button" class="btn btn-outline-primary">{{button_name}}</a>
        {% endif %}

        {% if button_name == "Excluir" %}
            <a href="/admin/excluir_vaga/excluir?job_to_delete={{job.id}}" type="button" class="btn btn-outline-primary">{{button_name}}</a>
        {% endif %}

    </div>
</div>
