<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Carreiras em Python</h1>
    <img height="320px" src="{{url_for('static', filename='carreira.jpg')}}"/>
    <h2>Sobre o site</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus facilisis turpis at elementum. Nulla sit
        amet ornare odio. Vestibulum gravida tincidunt feugiat. Proin eleifend accumsan massa vel gravida. Proin
        iaculis, ipsum at fermentum viverra, urna libero viverra purus, vitae lobortis urna sem at metus. Etiam commodo
        gravida tortor, ac malesuada urna feugiat tincidunt. Nulla facilisi. Integer at diam ut nibh vehicula vulputate
        at eget lectus.</p>
    <h2>Vagas Abertas</h2>
    <p>Aqui será retornado vagas de trabalho com Python.</p>
    <button>Entrar em Contato</button>
</body>
</html>